#tweeter-header {
 height: 400px;
 width: 100vw;
 margin:  0 auto;
 background-color: #ead6dd;
 background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
 flex-direction: column;
 justify-content: center;
 text-align: center;
}

#tweeter-header .avatar-image {
  transform: translateY(35%);
}
#tweeter-header .name-header {
  transform: translateY(130%);
}

@media (min-width: 1024px) {
  #tweeter-header {
    width: 40%;
  }
}