#tweeter-header {
 height: 400px;
 width: 100vw;
 text-align: center;
 margin:  0 auto;

 background-color: #ead6dd;
 background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
#tweeter-header .avatar-image {
  transform: translateY(35%);
}
#tweeter-header .name-header {
  transform: translateY(130%);
}

