#logo {
  font-family: 'Bungee', cursive;
  position: fixed;
  height: 90px;
  width: 100vw;
  z-index: 1;
  background-color: #4056A1;
  color: #FFFF;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
#write-new-tweet {
  float: right;
  font-size: 14px;
  color: white;
  background-color: #4056A1;
  border: #4056A1;
  height: 40px;
  cursor: pointer; 
  transform: translateY(-5px);
}
#write-new-tweet:hover {
  color: #ead6dd;
}