#new-tweet {
  margin: 0 auto;
}

#new-tweet .text-area {
  width: 100%;
  border-bottom: 2px solid black;
  padding-top: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 5%;
  height: 52px;
}

#new-tweet form span {
  float: right;
  font-family: bungee, cursive;
  font-size: smaller;
}

#new-tweet form input {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #4056A1;
}

#error {
  color: #D8000C;
  background-color: #FFD2D2;
  margin-top: 2em;
  text-align: center;
}