 #tweet-container {
  border: solid dimgrey;
  padding-top: 18px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 13px;
}

#tweet-container article {
  padding-bottom: 14px;
  margin-top: 5px;
}

#tweet-container article .display-name {
  font-size: 22px;
  font-weight: bold;
}

#tweet-container article .twitter-tag {
  font-size: 22px;
  float: right;
  font-weight: bold;
}

#tweet-container article header img {
  float: left;
  transform: translateY(-20%);
  padding-right: 9px;
  width: 4%;
}

#tweet-container article:hover {
  filter: blur(2px);
}

#tweet-container article div {
  border-bottom: 2.5px solid #bdadb2;
  font-size: 20px;
  padding-top: 12px;
  margin-top: 8px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
}
#tweet-container article footer {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

#tweet-container article img {
  float: right;
}

